.prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 26.1%;
  min-width: 270px;
}

.prize .prize-option-wrapper {
  padding: 0 1em;
}

.prize .prize-option-wrapper ~ .prize-option-wrapper {
  margin-top: 0.5em;
}

.prize .prize-option-wrapper.active .prize-option-outer,
.prize .prize-option-wrapper.active::before {
  background-color: var(--orange-100);
}
.prize .prize-option-wrapper.active .prize-option-outer .prize-option-inner {
  color: var(--orange-100);
  background-color: var(--orange-5);
}

.prize .prize-option-wrapper.passed .prize-option-outer,
.prize .prize-option-wrapper.passed::before {
  background-color: var(--black-40);
}
.prize .prize-option-wrapper.passed .prize-option-outer .prize-option-inner {
  color: var(--black-40);
}

.prize .prize-option-wrapper .prize-option-outer {
  max-width: 15em;
  padding: 0.0625em 0;
}

.prize .prize-option-wrapper .prize-option-outer .prize-option-inner {
  font-size: 1.125em;
  line-height: 116%;
  text-align: center;
  padding: 0.5em 1.2em;
}

@media screen and (max-width: 48rem) {
  .prize {
    flex: 0 0 100%;
    justify-content: flex-start;
    background-color: var(--black-5);
  }

  .prize.closed {
    display: none;
  }

  .prize.open {
    display: flex;
  }

  .prize .options-container {
    margin: auto 0;
  }

  .prize .mobile-close-icon {
    margin: var(--container-padding-mobile) var(--container-padding-mobile) 0 0;
  }

  .prize .prize-option-wrapper .prize-option-outer .prize-option-inner {
    font-size: 14px;
    padding: 7px 24px;
  }
}
